@font-face {
    font-family: 'GraphikLCG-Regular';
    src: url(../fonts/GraphikLCG-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: 'GraphikLCG-Semibold';
    src: url(../fonts/GraphikLCG-Semibold.ttf);
    font-weight: 600;
}
@font-face {
    font-family: 'Roboto-Regular';
    src: url(../fonts/Roboto-Regular.ttf);
    font-weight: 400;
}